@using Microsoft.AspNetCore.Identity
@using SchoolWeb.Models

@inject SignInManager<IdentityUser> signInManager
@model IEnumerable<PhotoModel>
@{
    ViewData["Title"] = "Галерея";
    bool signedIn = signInManager.IsSignedIn(User);
}
<style>
    .fullscreen:-webkit-full-screen {
        width: auto !important;
        height: auto !important;
        margin: auto !important;
    }

    .fullscreen:-moz-full-screen {
        width: auto !important;
        height: auto !important;
        margin: auto !important;
    }

    .fullscreen:-ms-fullscreen {
        width: auto !important;
        height: auto !important;
        margin: auto !important;
    }

    .visible {
        height: 3em;
        width: 10em;
    }

    .thumbnails {
        margin: -3em 0 0 -2em;
        text-align: center;
    }

    .thumbnail {
        text-decoration: none;
        display: -moz-inline-box;
        display: inline-block;
        vertical-align: top;
        text-align: left;
        margin: 3em 0 0 2em;
    }

        .thumbnail .r {
            width: 14em;
            float: left;
        }
</style>
<script>
    function makeFullScreen(id)
    {
      var divObj = document.getElementById("theImage-" + id);
      if (divObj.requestFullscreen) {
        divObj.requestFullscreen();
      }
      else if (divObj.msRequestFullscreen) {
        divObj.msRequestFullscreen();
      }
      else if (divObj.mozRequestFullScreen) {
        divObj.mozRequestFullScreen();
      }
      else if (divObj.webkitRequestFullscreen) {
        divObj.webkitRequestFullscreen();
      } else {
          window.open(divObj.getAttribute("src"), '_blank').focus();
      }
    }
</script>

<hr />
<h2 class="text-center">Галерея</h2>
<hr />

@if (Model != null && Model.Count() > 0)
{
    if ((int)ViewData["total"] != 0)
    {
        <div class="row">
            <div class="col-md-2"></div>
            <div class="btn-group btn-group-lg col-md-8" role="group">
                @for (int i = 0; i <= (int)ViewData["total"]; i++)
                {
                    <a class="btn btn-primary" asp-controller="Gallery" asp-action="Index" asp-route-id="@i">@(i+1)</a>
                }
            </div>
            <div class="col-md-2">
                @if (signedIn)
                {
                    <a class="btn btn-outline-warning" asp-controller="Gallery" asp-action="Add"><i class="bi bi-plus-circle"></i> Добавить</a>
                }
            </div>
        </div>
    }
    else
    {
        @if (signedIn)
        {
            <div class="text-center">
                <a class="btn btn-outline-success" asp-controller="Gallery" asp-action="Add"><i class="bi bi-plus-circle"></i> Добавить</a>
            </div>
        }
    }

    <p>
        @foreach (PhotoModel photo in Model)
        {
            <div title="@photo.Description" class="visible text-center" style="width:200px; display: inline-block; margin-left:10px;margin-right:10px;">
                <figure class="sign" style="width:200px;">
                    <img id="theImage-@photo.Id" style="width:200px; height:auto;" class="fullscreen" src="@photo.ToString()" onClick="makeFullScreen(@photo.Id)">
                    <figcaption class="mt-1">
                        @if (signedIn)
                        {
                            <a class="btn btn-outline-warning" asp-controller="Gallery" asp-action="Edit" asp-route-id="@photo.Id"><i class="bi bi-pencil"></i></a>
                        }
                        @photo.Title
                        @if (signedIn)
                        {
                            <a class="btn btn-outline-danger" asp-controller="Gallery" asp-action="Delete" asp-route-id="@photo.Id"><i class="bi bi-trash"></i></a>
                        }
                    </figcaption>
                </figure>
            </div>
        }
    </p>

    if ((int)ViewData["total"] != 0)
    {
        <div class="row">
            <div class="col-md-2"></div>
            <div class="btn-group btn-group-lg col-md-8" role="group">
                @for (int i = 0; i <= (int)ViewData["total"]; i++)
                {
                    <a class="btn btn-primary" asp-controller="Gallery" asp-action="Index" asp-route-id="@i">@(i+1)</a>
                }
            </div>
            <div class="col-md-2"></div>
        </div>
    }
}
else
{
    <div class="text-center">
        <h3>Пока в галерее нет картинок</h3>
        @if (signedIn)
        {
            <a class="btn btn-outline-success" asp-controller="Gallery" asp-action="Add"><i class="bi bi-plus-circle"></i> Добавить</a>
        }
    </div>
}
