@model ScheduleInfo
@{
    ViewData["Title"] = "Годовой график";
}
<hr />
<h2 class="text-center">Годовой календарный график школы "Елена-Сервис"</h2>
<hr />
<br>

<table width="100%" class="table-inside-border" style="table-layout: fixed ; width: 100%;">
    <tr>
        <td class="td-inside-border" valign="top">
            <h3 class="text-center">Продолжительность учебной недели</h3>
            <div class="d-flex justify-content-center">
                <ul>
                    <li><b>5 дней</b> - 1 - 4 классы</li>
                    <li><b>6 дней</b> - 5 - 11 классы</li>
                </ul>
            </div>
        </td>
        <td class="td-inside-border" valign="top">
            <h3 class="text-center">Продолжительность урока</h3>
            <div class="d-flex justify-content-center">
                <ul>
                    <li><b>35 минут</b> - для 1 классов в 1 полугодии</li>
                    <li><b>45 минут</b> - для 1 классов в 2 полугодии</li>
                    <li><b>45 минут</b> - для учеников 2-11 классов</li>
                </ul>
            </div>
            <p class="text-center"><i>Примечание: Уроки начинаются в 8:00</i></p>
        </td>
    </tr>
    <tr>
        <td class="td-inside-border" valign="top">
            <h3 class="text-center">Продолжительность учебного года</h3>
            <div class="d-flex justify-content-center">
                <ul>
                    <li><b>@Model.YearDuration1 @WordHelp.Inflect(Model.YearDuration1,"учебных недель","учебная неделя","учебные недели")</b> - для учеников 1 классов</li>
                    <li><b>@Model.YearDuration2_8 @WordHelp.Inflect(Model.YearDuration2_8,"учебных недель","учебная неделя","учебные недели")</b> - для учеников 2 - 8 классов</li>
                    <li><b>@Model.YearDuration9 @WordHelp.Inflect(Model.YearDuration9,"учебных недель","учебная неделя","учебные недели")</b> - для учеников 9 классов</li>
                    <li><b>@Model.YearDuration10 @WordHelp.Inflect(Model.YearDuration10,"учебных недель","учебная неделя","учебные недели")</b> - для учеников 10 классов</li>
                    <li><b>@Model.YearDuration11 @WordHelp.Inflect(Model.YearDuration11,"учебных недель","учебная неделя","учебные недели")</b> - для учеников 11 классов</li>
                </ul>
            </div>
            <p class="text-center"><i>Примечаение: Основные учебные занятия (уроки) проходят в 1-ю смену</i></p>
        </td>
        <td class="td-inside-border" valign="top">
            <h3 class="text-center">Режим питания</h3>
            <div class="d-flex justify-content-center">
                <ul>
                    <li>
                        <b>Завтрак:</b>
                        <ul>
                            <li><b>8:45:</b> 1 - 3 классы</li>
                            <li><b>9:45:</b> 4 - 11 классы</li>
                        </ul>
                    </li>
                    <li>
                        <b>Обед:</b>
                        <ul>
                            <li><b>11.40:</b> 1 классы</li>
                            <li><b>12.40:</b> 2 - 4 классы</li>
                            <li><b>13.40:</b> 5 - 11 классы</li>
                        </ul>
                    </li>
                    <li>
                        <b>Ужин:</b>
                        <ul>
                            <li><b>15.30:</b> 1 - 4 классы</li>
                            <li><b>16.00:</b> 5 - 11 классы</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
</table>

<h3 class="text-center">Каникулы</h3>
<table width="100%" cellpadding="5" class="table-bordered">
    <tbody>
        <tr>
            <td bgcolor="#FFFACD" rowspan="2" class="text-center">Каникулы</td>
            <td bgcolor="#FFFACD" rowspan="1" colspan="2" class="text-center">Дата</td>
            <td bgcolor="#FFFACD" rowspan="2" class="text-center">Продолжительность</td>
        </tr>
        <tr>
            <td bgcolor="#FFFACD" class="text-center">Началo каникул</td>
            <td bgcolor="#FFFACD" class="text-center">Окончание каникул</td>
        </tr>
        <tr>
            <td bgcolor="#FFFACD">Осенние</td>
            <td>@Model.Holiday1Start.ToString("dd.MM.yyyy")</td>
            <td>@Model.Holiday1End.ToString("dd.MM.yyyy")</td>
            @{
                int days = @Model.Holiday1End.Subtract(Model.Holiday1Start).Days + 1;
                int weeks = days / 7;
                days %= 7;
                if (days == 0)
                {
                    <td>@weeks @WordHelp.Inflect(weeks,"недель","неделя","недели")</td>
                }
                else
                {
                    <td>@weeks @WordHelp.Inflect(weeks,"недель","неделя","недели") и @days @WordHelp.Inflect(days,"дней","день","дня")</td>
                }
            }
        </tr>
        <tr>
            <td bgcolor="#FFFACD">Зимние</td>
            <td>@Model.Holiday2Start.ToString("dd.MM.yyyy")</td>
            <td>@Model.Holiday2End.ToString("dd.MM.yyyy")</td>
            @{
                days = @Model.Holiday2End.Subtract(Model.Holiday2Start).Days + 1;
                weeks = days / 7;
                days %= 7;
                if (days == 0)
                {
                    <td>@weeks @WordHelp.Inflect(weeks,"недель","неделя","недели")</td>
                }
                else
                {
                    <td>@weeks @WordHelp.Inflect(weeks,"недель","неделя","недели") и @days @WordHelp.Inflect(days,"дней","день","дня")</td>
                }
            }
        </tr>
        <tr>
            <td bgcolor="#FFFACD">Весенние</td>
            <td>@Model.Holiday3Start.ToString("dd.MM.yyyy")</td>
            <td>@Model.Holiday3End.ToString("dd.MM.yyyy")</td>
            @{
                days = @Model.Holiday3End.Subtract(Model.Holiday3Start).Days + 1;
                weeks = days / 7;
                days %= 7;
                if (days == 0)
                {
                    <td>@weeks @WordHelp.Inflect(weeks,"недель","неделя","недели")</td>
                }
                else
                {
                    <td>@weeks @WordHelp.Inflect(weeks,"недель","неделя","недели") и @days @WordHelp.Inflect(days,"дней","день","дня")</td>
                }
            }
        </tr>
        <tr>
            <td bgcolor="#FFFACD">Доп. для 1 классов</td>
            <td>@Model.Holiday4Start.ToString("dd.MM.yyyy")</td>
            <td>@Model.Holiday4End.ToString("dd.MM.yyyy")</td>
            @{
                days = @Model.Holiday4End.Subtract(Model.Holiday4Start).Days + 1;
                weeks = days / 7;
                days %= 7;
                if (days == 0)
                {
                    <td>@weeks @WordHelp.Inflect(weeks,"недель","неделя","недели")</td>
                }
                else
                {
                    <td>@weeks @WordHelp.Inflect(weeks,"недель","неделя","недели") и @days @WordHelp.Inflect(days,"дней","день","дня")</td>
                }
            }
        </tr>
    </tbody>
</table>
<br>
<h3 class="text-center">Четверти</h3>
<table width="100%" cellpadding="5" class="table-bordered">
    <tbody>
        <tr>
            <td bgcolor="#FFFACD" rowspan="2" class="text-center">Учебная четверть</td>
            <td bgcolor="#FFFACD" rowspan="1" colspan="2" class="text-center">Дата</td>
            <td bgcolor="#FFFACD" rowspan="2" class="text-center">Продолжительность</td>
        </tr>
        <tr>
            <td bgcolor="#FFFACD" class="text-center">Началo четверти</td>
            <td bgcolor="#FFFACD" class="text-center">Окончание четверти</td>
        </tr>
        <tr>
            <td bgcolor="#FFFACD">1-ая четверть</td>
            <td>@Model.Quarter1Start.ToString("dd.MM.yyyy")</td>
            <td>@Model.Quarter1End.ToString("dd.MM.yyyy")</td>
            @{
                days = @Model.Quarter1End.Subtract(Model.Quarter1Start).Days + 1;
                weeks = days / 7;
                days %= 7;
                if (days == 0)
                {
                    <td>@weeks @WordHelp.Inflect(weeks,"недель","неделя","недели")</td>
                }
                else
                {
                    <td>@weeks @WordHelp.Inflect(weeks,"недель","неделя","недели") и @days @WordHelp.Inflect(days,"дней","день","дня")</td>
                }
            }
        </tr>
        <tr>
            <td bgcolor="#FFFACD">2-ая четверть</td>
            <td>@Model.Quarter2Start.ToString("dd.MM.yyyy")</td>
            <td>@Model.Quarter2End.ToString("dd.MM.yyyy")</td>
            @{
                days = @Model.Quarter2End.Subtract(Model.Quarter2Start).Days + 1;
                weeks = days / 7;
                days %= 7;
                if (days == 0)
                {
                    <td>@weeks @WordHelp.Inflect(weeks,"недель","неделя","недели")</td>
                }
                else
                {
                    <td>@weeks @WordHelp.Inflect(weeks,"недель","неделя","недели") и @days @WordHelp.Inflect(days,"дней","день","дня")</td>
                }
            }
        </tr>
        <tr>
            <td bgcolor="#FFFACD">3-ья четверть</td>
            <td>@Model.Quarter3Start.ToString("dd.MM.yyyy")</td>
            <td>@Model.Quarter3End.ToString("dd.MM.yyyy")</td>
            @{
                days = @Model.Quarter3End.Subtract(Model.Quarter3Start).Days + 1;
                weeks = days / 7;
                days %= 7;
                if (days == 0)
                {
                    <td>@weeks @WordHelp.Inflect(weeks,"недель","неделя","недели")</td>
                }
                else
                {
                    <td>@weeks @WordHelp.Inflect(weeks,"недель","неделя","недели") и @days @WordHelp.Inflect(days,"дней","день","дня")</td>
                }
            }
        </tr>
        <tr>
            <td bgcolor="#FFFACD">4-ая четверть</td>
            <td>@Model.Quarter4Start.ToString("dd.MM.yyyy")</td>
            <td>@Model.Quarter4End.ToString("dd.MM.yyyy")</td>
            @{
                days = @Model.Quarter4End.Subtract(Model.Quarter4Start).Days + 1;
                weeks = days / 7;
                days %= 7;
                if (days == 0)
                {
                    <td>@weeks @WordHelp.Inflect(weeks,"недель","неделя","недели")</td>
                }
                else
                {
                    <td>@weeks @WordHelp.Inflect(weeks,"недель","неделя","недели") и @days @WordHelp.Inflect(days,"дней","день","дня")</td>
                }
            }
        </tr>
        <tr>
            <td bgcolor="#FFFACD">ИТОГО:</td>
            <td>@Model.Quarter1Start.ToString("dd.MM.yyyy")</td>
            <td>@Model.Quarter4End.ToString("dd.MM.yyyy")</td>
            <td>@Model.YearDuration2_8 @WordHelp.Inflect(Model.YearDuration2_8,"недель","неделя","недели")</td>
        </tr>
    </tbody>
</table>